POSTGRES_DB=fitvision
POSTGRES_USER=fitvision
POSTGRES_PASSWORD=fitvision

DB_URL=jdbc:postgresql://fitvision-db:5432/fitvision
DB_USERNAME=fitvision
DB_PASSWORD=fitvision

FITVISION_JWT_SECRET=CHANGE_THIS_IN_PRODUCTION_MIN_32_BYTES
FITVISION_JWT_EXPIRATION_HOURS=24

NEXT_PUBLIC_API_URL=http://localhost:8080
